<p>
    {{content?.labels.infoInput}}
</p>
<form *ngIf="content?.fields; let fields" [formGroup]="ordercheckForm" (ngSubmit)="submit(ordercheckForm.value)" autocomplete="off">
    <div [ngClass]="{
        'error': !isFieldValid('quantity')
    }">
        {{fields.quantity.label}}
        <em *ngIf="!isFieldValid('quantity') && getError('quantity').required">Required</em>
        <em *ngIf="!isFieldValid('quantity') && getError('quantity').pattern">Numeric only</em>
        <input type="input" name="quantity" formControlName="quantity" maxlength="{{fields.quantity.maxLength}}" ngModel/>
    </div>

    <button type="submit">{{fields.nextBtn.label}}</button>
</form>